* {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: black;
	font-family: tahoma;
}
body {
	background-color: #DFDFDF;
}
.gridContainer {
	width: 90%;
	max-width: 1280px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,auto);
}
.link {
	text-decoration: none;
	color: #FFFFFF;
}
.gridContainer__cabezera, .gridContainer__contenido,
.gridContainer__widget, .gridContainer__footer {
	background-color: #EFEFEF;
	padding: 20px;
}
.gridContainer__contenido--pNota {
	padding-left: 10%;
	padding-right: 10%;
}
.gridContainer__contenido--h2Nota {
	font-size: 1.5em;
}
.gridContainer__contenido--ul {
	padding-left: 5%;
	padding-right: 5%;
}
.gridContainer__aside {
	background-color: #DFDFDF;
}
.gridContainer__cabezera {
	background-image: radial-gradient(circle at 12.11% 23.47%, #0063eb 0, #005de9 12.5%, #0056e5 25%, #004ddd 37.5%, #4d42d4 50%, #7135c9 62.5%, #8b22bb 75%, #9e00ad 87.5%, #ae009d 100%);
	display: grid;	
	grid-column: 1/6;
	grid-template-columns: repeat(5, 1fr);
}
.gridContainer__cabezera--nav--ul {
	width: 100%;
	list-style: none;
}
.gridContainer__cabezera--nav--ul--li {
	margin-right: 5%;
	padding: 1% 2%;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
}
.gridContainer__cabezera--nav--ul--li:hover {
	background-color: #941AD1;
	color: black;
}
.gridContainer__aside--h2 {
	color: #1A96AF;
}
.gridContainer__aside--h3 {
	background-color: #1A96AF;
	color: #FFFFFF;
}
.gridContainer__aside--p {
	text-align: left;
}
.ola {
	background-color: #EFEFEF;
	padding: 20px;
}
.gridContainer__contenido {
	grid-column: span 2;
	height: auto;
}
.gridContainer__aside {
	grid-column: 3/4;
	text-align: center;
	grid-row: 2/4;
}
.gridContainer__widget {
	grid-column: 1/3;
}
.gridContainer__footer {
	grid-column: 1/4;
	background-color: #272727;
	text-align: center;
}
.gridContainer__footer--h2 {
	font-size: 15px;
}
.gridContainer__footer--h2 {
	color: #FFFFFF;
}
.gridContainer__cabezera--h2 {
	grid-column: 1/3;
	color: #FFFFFF;
	text-align: left;
}
.gridContainer__contenido--h2 {
	font-size: 2em;
	color: #1A96AF;
	margin-bottom: 15px;
}
.gridContainer__cabezera--nav {
	grid-column: 3/6;
	text-align: center;
}
.gridContainer__aside--img {                                  /* ********* aqui puse el transition ********** */
	width: 90%;
	height: 423px;
	transition: width 1s;
}
.gridContainer__aside--img:hover {
	width: 100%;
}
.gridContainer__aside--img--2 {
	width: 85%;
	transition: width 1s;
}
.gridContainer__aside--img--2:hover {
	width: 100%;
}
.gridContainer__contenido--img {
	width: 100%;
	height: 400px;
	border-radius: 20%;
	transition: border-radius 1s;
}
.gridContainer__contenido--img:hover {
	border-radius: 0%;
}
.gridContainer__cabezera--img--avionAnimado {
	width: 240px;
	height: 70px;
	position: absolute;
	margin-left: -350px;
	transform: translate(2000px, 200px);
	transition: transform 10s;
}

.gridContainer__cabezera--h2:hover {}
/*
.avionAnimado:hover {
	transform: translateX(2000px);
}
*/



/* *************    Karin Gonzalez - El crack, maquina, fiera, jefe, tifón, numero 1, mostro,
                    mastodonte, toro, emperador, furia, ciclón, tornado, relampago, artista,
                    campeón, maestro, chulo, torero, socio. © Derechos reservados y dieses asegurados **************   */


/*
 __  ___      ___      .______       __  .__   __.      _______   ______   .__   __.  ________       ___       __       _______  ________  
|  |/  /     /   \     |   _  \     |  | |  \ |  |     /  _____| /  __  \  |  \ |  | |       /      /   \     |  |     |   ____||       /  
|  '  /     /  ^  \    |  |_)  |    |  | |   \|  |    |  |  __  |  |  |  | |   \|  | `---/  /      /  ^  \    |  |     |  |__   `---/  /   
|    <     /  /_\  \   |      /     |  | |  . `  |    |  | |_ | |  |  |  | |  . `  |    /  /      /  /_\  \   |  |     |   __|     /  /    
|  .  \   /  _____  \  |  |\  \----.|  | |  |\   |    |  |__| | |  `--'  | |  |\   |   /  /----. /  _____  \  |  `----.|  |____   /  /----.
|__|\__\ /__/     \__\ | _| `._____||__| |__| \__|     \______|  \______/  |__| \__|  /________|/__/     \__\ |_______||_______| /________|
*/
